<div class="container">
  <!-- Content here -->
  <div class="row h-100">
    <div class="col-sm-12 my-auto">
      <div class="card card-block w-25">
     <div class="card-header">
       List Of Hardcoded Users
     </div>
     <div class="card-body">
      <ul class="list-group " *ngFor="let web of json.members; let i = index">
    
        <li class="list-group-item" (click)="open(i,content)">{{web.real_name}}</li>
      
     
    
    </ul>
     </div>
   </div>
 



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Time Ranges for Activity</h4>
    <button type="button" class="close" aria-label="Close" (click)="close(content)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-sm-12" >
     
      <table class="table">
        <thead>
    <tr>
      <th>
        Start Date Time
      </th>
      <th>
        End Date Time
    
      </th>
    </tr>
        </thead>
        <tbody>
          <tr *ngFor="let web of dt; let i = index">
            <td>
    {{web.start_time}}
            </td>
             <td>
              {{web.end_time}}
    
             </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    
    </form>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>



</div>
</div>
</div>

